<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Message</a>
    </div>
  </div><!-- /.container-fluid -->
</nav>


<div class="hero">
  <div class="container">
    <h1><%= @post.title %></h1>
  </div>
</div>

    <div class="container content">
      <div class="col-md-8 col-md-offset-2">
        <div class="btn-group" role="group" aria-label="...">
          <a class="btn btn-warning" href="/posts/<%= @post.id %>/edit"><i class="fa fa-pencil-square-o"></i> Edit</a>
          <a class="btn btn-danger" href="/delete_post/<%= @post.id %>"><i class="fa fa-trash-o"></i> Destroy</a>
        </div>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <p><%= @post.contents %></p>
      </div>
    </div>





